.div-container{
  padding: 32px;
  background-color: #FFFF;
  border: 0;
  margin-bottom: 32px;
  margin-top: 32px;

  .space-16 {
    margin-bottom: 16px;
  }
  .space-32 {
    margin-bottom: 32px;
  }

  .img-detail{
    width: 680px;
    height: 680px;
  }

  .lbl-detail-vendidos{
    font-size: 14px;
    color: #666666;
  }

  .lbl-detail-item{
    font-weight: 700;
    font-size: 24px;
    color: #333333;
  }

  .lbl-detail-price{
    color: #333333;
    font-size: 46px;
    margin-right: 15px;
  }
  .lbl-price-simbol {
    margin-right: 10px;
  }

  .btn-detail-buy{
    background-color: #3483FA;
    border-radius: 4px;
    border-color: transparent;
    outline: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    padding: 0 24px;
    height: 48px;
    width: 100%;
    cursor: pointer;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
  }

  .lbl-detail-des{
    color: #333333;
    font-size: 28px;
  }

  .lbl-detail-des-txt{
    color: #999999;
    font-size: 16px;
    margin: 0px;
  }
}

@media (max-width: 991.98px) {
  .div-container{
    .img-detail{
      width: 100%;
      height: 100%;
    }
  }
}