.nav-header{
  display: block;
  position: fixed;
  width: 100%;
  top: -1px;
  z-index: 1;
  
  nav{
    background-color: #FFE600;
  }

  .nav-search-group{
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
  }

  .nav-search-input{
    font-size: 18px;
    border-color: #FFFFFF ;
    border-radius: 2px 0 0 2px;
    color: #333333;
    height: 39px;
    &:focus{
      box-shadow: none;
    }
  }

  .nav-btn-search{
    background-color: #EEEEEE;
    border-radius: 0 2px 2px 0;
    border-color: #EEEEEE;
    outline: none;
    &:focus{
      box-shadow: none !important;
    }
    &:active{
      box-shadow: none !important;
      background-color: #E4E4E4 !important;
      border-color: #E4E4E4 !important;
    }
  }
}

@media (max-width: 575.98px) {
  .nav-xs{
    padding-right: 3px;
  }

  .icon-cont{
    padding-left: 0;
  }  
  
}
